<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/estilos.css') }}">    
    <title>Serzatale Oficial</title>
</head>
<body>
    
    <div class="efecto-cristal">
        <h1>Serzatale</h1> <br>
        <p>Como todos sabemos, siempre que exista un juego y que este sea querido y amado por su respectivo público, este tendría sus AU's {Universos Alternos} Donde tendrían su propia historia alternativa sin dejar recordarte y tener la esencia del original. <br><br>

Como en su caso "Undertale" que cuenta con una gran cantidad de los mencionados AU's creados por su fandom.<br><br>

Pues bien. Ya que captaron la idea les presento "Serzatale" Creado por <strong>Zark Karachi</strong> es un fangame del anterior mencionado 'Undertale' creado desde cero en el programa "Kocho" el cual es una es una herramienta para crear novelas visuales. Pero!! No se dejen engañar. ya que esto nos permite una historia extensa llena de giros y variables, es un juegos completamente disfrutable y al ritmo que desees.  <br><br>

Actualmente se encuentra es la fase Beta, estamos haciendo todo lo posible por seguir sacando actualizacion, Arreglando errores. Pero para felicidad de muchos o de pocos ya contamos con Español e Inglés para jugarlo. Aunque no esta libre de fallos en la traducción estamos trabajndo duro para que puedas disfrutarlo. <br><br>

La historia de Serzatale consiste en que eres un humano del universo principal (Osea, Undertale) que cayó por accidente a una línea temporal de otro AU por error. Tendrás que ir explorando todas las variantes y descubriendo la historia de este nuevo e intrigante mundo. En este AU serás obligado a hacer una Ruta Pacifista o conocerás las consecuencias y como a tí lo único que te importa es regresar a tu línea temporal, a tu verdadero mundo  aceptas y así empieza la historia en un Universo alterno donde verás cambios demasiados notables, tanto como la escencia del lugar, tanto como la apariencia y actitud de un personaje.<br><br>

Pero claro Es de naturaleza humana ser curioso. Jaja.. así que suerte al elegir que hacer.. espero hagas caso y no descubras tan temprano la oscuridad que se esconde en esta historia..

"...Cuidado con el hombre de ojos negros..."</p>

<form action="tu-endpoint" method="get">
    <button type="submit">
           &nbsp;&nbsp;&nbsp;P L A Y
        <div id="clip">
            <div id="leftTop" class="corner"></div>
            <div id="rightBottom" class="corner"></div>
            <div id="rightTop" class="corner"></div>
            <div id="leftBottom" class="corner"></div>
        </div>
        <span id="rightArrow" class="arrow"></span>
        <span id="leftArrow" class="arrow"></span>
    </button>
</form>
</div>
</body>
</html>
